:root {
  --main-bg-color: #292929;
  --cards-bg-color: #3d3d3d;
  --text-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--text-color);
  background-color: var(--main-bg-color);
  font-family: "inter";
  padding-bottom: 210px;
}
.container {
  margin-right: auto;
  margin-left: auto;
}
.weather,
.calendar,
.email,
.mood {
  width: 100%;
  background-color: var(--cards-bg-color);
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 0px 2px 0px #0000001f 0px 4px 8px 0px #00000024;
}
h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}
.weather span,
.calendar span,
.email span,
.mood span,
.quote span {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff66;
}
.hello {
  margin-bottom: 42px;
}
.weather {
  position: relative;
}
.sun {
  display: block;
  position: absolute;
  top: 16px;
  right: 2px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.date,
.inbox {
  margin-bottom: 16px;
}

.daily {
  margin-bottom: 6px;
  border-left: 2px solid #ffc453;
  padding: 4px 0 4px 12px;
}
.meeting {
  border-left: 2px solid #29e489;
  padding: 4px 0 4px 12px;
}
.f1,
.f2,
.f3 {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.email img {
  display: block;
  width: 48px;
}
.f1 h4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.email img {
  margin-left: 0;
}
.f1,
.f2 {
  border-bottom: 1px solid #29292980;
}

.mood p {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
}
.mood img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.emojis ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.emojis li {
  width: calc(100% / 3.33);
  background-color: #292929;
  padding: 8px;
  border-radius: 8px;
  margin-top: 16px;
}
.quote {
  background-color: var(--cards-bg-color);
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 0px 2px 0px #0000001f 0px 4px 8px 0px #00000024;
}
.quote p {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #ffffffcc;
  margin-top: 29px;
  letter-spacing: -1px;
}
.quote :nth-child(3) {
  display: block;
  text-align: right;
}
.frame2 {
  margin-top: 16px;
}
@media screen and (max-width: 430px) {
  .hero {
    display: none;
  }
  .container {
    width: 398px;
  }
  body {
    padding-top: 33px;
  }

  .frame1,
  .frame2 {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-right: 16px;
    margin-left: 16px;
  }
  .quote {
    width: 100%;
  }
}
@media screen and (min-width: 1512px) {
  body {
    padding-top: 93px;
    padding-right: 116px;
    padding-left: 116px;
  }

  .container {
    width: 1280px;
    display: flex;
  }
  .frame1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: calc(100% / 3.076);
    margin-right: 16px;
  }
  .frame2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .hero {
    padding: 16px;
    border-radius: 16px;
    background-color: var(--cards-bg-color);
  }
  .hero ul {
    display: flex;
    margin-bottom: 16px;
  }
  .hero li {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }
  .hero li:first-of-type {
    background-color: var(--main-bg-color);
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px #0000001f, 0px 4px 8px 0px #00000024;
  }
  .hero li:nth-of-type(2),
  .hero li:nth-of-type(3) {
    color: #242424;
    margin-top: 16px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .main {
    display: flex;
    flex-direction: column;
  }
  .mood {
    width: 40%;
  }
  .quote {
    margin-right: 16px;
    align-self: self-start;
  }
}
